#hello {
    color: rgba(255, 255, 0, 0.663);
    color: #E4572E;
    font-size: 100px;
}

body {

    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


@media only screen and (max-width: 768px) {
    body{
        position: absolute;
    }


  }